{% extends 'product/main.html' %}
{% load static %}
{% block title %} CONTACT-US {% endblock title%}
{% block body %} <!-- CONTACT Section  -->
<div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
    <div class="row">
        <div class="col-md-6 px-0">
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.079419393406!2d77.
            31505031424953!3d28.657340582407972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfb1645555555%3A0x62ede
            78dbfd33ace!2sCafe%20Wink!5e0!3m2!1sen!2sin!4v1676912841086!5m2!1sen!2sin" 
            width="600" height="450" style="width: 100%; height: 100%; min-height: 400px"
             allowfullscreen=""loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
            </div>
        </div>
        <div class="col-md-6 px-5 has-height-lg middle-items">
            <h3>FIND US</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, laboriosam doloremque odio delectus, sunt magnam laborum impedit molestiae, magni quae ipsum, ullam eos! Alias suscipit impedit et, adipisci illo quam.</p>
            <div class="text-muted">
                <p><span class="ti-location-pin pr-3"></span> 12345 Fake ST NoWhere, AB Country</p>
                <p><span class="ti-support pr-3"></span> (123) 456-7890</p>
                <p><span class="ti-email pr-3"></span>XYZ@website.com</p>
            </div>
        </div>
    
       
    </div>



   
</div>{% endblock body %}