{% extends 'product/main.html' %}
{% load static %}
{% block title %}LOGIN{% endblock title %}
{% block body %}
<form method="POST">
    {%  csrf_token %}
    <h1 style="text-align:center">Log In</h1>
    <table style="margin-left:auto; margin-right:auto">
        <tr>
            <td><label>Enter Your Username</label></td>
            <td><input type="text"  placeholder='enter your username' name="t1"></td>
        </tr>
       <tr>
        <td><label>Enter Your Password</label></td>
        <td><input type="password" placeholder='enter your password' name="p1"></td>
       </tr>
       <tr><td colspan="2"><button type="submit" style="width:150px; height:30px">LOG IN</button></td></tr>
       <tr><td colspan="2"><a href="{% url 'register' %}">New User? Create a new account</a></td></tr>
    </table>
</form>

{% endblock body %}